<nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Tasks</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">{{#link-to 'tasks' class="nav-link"}}Home{{/link-to}}</li>
          <li class="nav-item">{{#link-to 'tasks.new' class="nav-link"}}Tasks{{/link-to}}</li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

        <div class="row">
            <div class="col-md-12">
                {{outlet}}
            </div>
        </div>

    </main>